numrp3tf/data/web/apps/cache/*
numrp3tf/data/web/apps/cipijs/**
numrp3tf/data/web/apps/cipijs/.gitignore

numrp3tf/data/cfg/ssh/ssh_host**

numrp3tf/**/*.pem

numrp3tf/data/ssl/cert.pem

numrp3tf/data/cfg/ssh/sshd_confige
numrp3tf/data/cfg/ssh/sshd_configr

*.act

